@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Manrope:wght@300&family=VT323&display=swap');


body{
    margin: 0;padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Cormorant Upright', serif;
    background-color: black;
}



.opensans{
    @apply font-alt text-white font-normal text-sm 2xl:text-lg 3xl:text-xl
}
.cormorant-header{
    @apply font-base text-golden font-semibold text-3xl md:text-4xl lg:text-6xl 2xl:text-7xl 3xl:text-8xl
}

.bg{
    @apply bg-[url("../assets/bg.png")] bg-center bg-cover bg-no-repeat bg-fixed 
}